@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


#welcome-page h1{
    top:240px;
    width: 600px;
    text-align: center;
    position: absolute;
    left:calc(50% - 300px);
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    /*visibility: hidden;*/
}

#welcome-page h2{
    top:360px;
    width: 400px;
    text-align: center;
    position: absolute;
    left:calc(50% - 200px);
    font-family: "Lato Light";
    font-size: 24px;
    /*visibility: hidden;*/
}

#welcome-btn:hover{
    cursor: pointer;

    /*visibility: hidden;*/
}


#header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: inline;
    z-index: 2;
}

#header h1{
    margin-left: 20px;
    font-family: 'Playfair Display', serif;

}

#user{
    position: absolute;
    right: 200px;
    top: 22px;
    width: 240px;
    font-size: 20px;
    font-family: "Lato Light";
    padding: 4px;
    text-align: center;
}

.week-select{
    position: absolute;
    left:25%;
    top:25px;
}
.view-select{
    position: absolute;
    left:40%;
    top:25px;
}

#btn-log{
    position: absolute;
    right: 20px;
    top: 25px;
    width: 180px;
    font-size: 16px;
    font-family: "Lato Light";
    border-radius: 5px;
    border: solid 1px  #d1d1d1;
    padding: 4px;
    text-align: center;
}


#content{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;

}

#tab-sched-1{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#tab-sched-1 td, th{

    text-align: left;
    margin:1px;
}
#tab-sched-1 .td-header{
    background-color: #f6f6f6;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    /*padding-top: 4px;*/
    padding-left: 20px;
    /*padding-bottom: 4px;*/
    text-align: left;
}

#tab-sched-1 td:hover{
    cursor: pointer;
    /*background-color: #d1d1d1;*/
}

#tab-sched-1 div{
    /*background-color: white;*/
    height: 100%;
    display: inline;
    float:left;
    padding-left: 10px;
    /*padding: 8px;*/
}

#tab-sched-1 div{
    /*background-color: white;*/
    height: 100%;
    display: inline;
    float:left;
    padding-left: 20px;

    /*padding: 8px;*/
}
/*#tab-sched-1 tr:nth-child(even) {*/
    /*background: #f3f3f3*/
/*}*/
/*#tab-sched-1 tr:nth-child(even) td:nth-child(1) {*/
    /*background: #ececec;*/
/*}*/
/*#tab-sched-1 tr:nth-child(odd) {*/
    /*background: #FFF*/
/*}*/
/*#tab-sched-1 tr:nth-child(odd) td:nth-child(1) {*/
    /*background: #f7f7f7;*/


#tab-sched-1 .date{
    /*border-right: solid 1px #d1d1d1;*/
}




#tab-cont-div{
    position: absolute;
    top: 15%;
    left:5%;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tab-sched-2{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 220%;
    background-color: #f7f7f7;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;


}
#tab-sched-2 td{
    background-color: #FFFFFF;
    border-bottom: solid #d1d1d1 1px;
}


#tab-sched-2 td, th{
    /*border-bottom: solid black 1px;*/
    /*border-right: solid black 1px;*/
    text-align: center;
}
#tab-sched-2 th{
    background-color: #ececec;
}
