@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#tab-sched-3{
    border-collapse: collapse;
    table-layout: fixed;

    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
}




#tab-sched-3 td {
    padding: 5px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    border: solid 1px #d1d1d1;
    font-size: 18px;
}

#tab-sched-3 .td-h {
    text-align: center;
    border: solid 1px #d1d1d1;
    font-family: 'Lato Light', sans-serif;
    font-size: 14px;
}


#tab-sched-3 th {
    padding: 10px;
    font-family: 'Playfair Display', serif;
    text-align: left;

}

#tab-sched-3 .working{
    background-color: #1e583f;
    border-color: #1e583f;
}

#tab-sched-3 tr {
    /*border-bottom: solid 0.5px #ffffff;*/
    /*border-top: solid 0.5px #ffffff;*/
}

#tab-sched-3 td {
    /*border-right: solid 0.5px #ffffff;*/
    /*border-left: solid 0.5px #ffffff;*/
}


#tab-sched-3 tr:hover {
    background-color: #f6f6f6;
    cursor: pointer;

}

.day-name-td{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

